{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="d-flex align-items-md-center justify-content-center vh-100 vw-100 bg-light">
        <div style="width:500px;max-width:500px;">
            <div class="shadow p-3 p-md-5 bg-white">
                <form method="post">
                    <div class="d-flex align-items-center text-primary mb-4">
                        <h1 class="h3 m-0 p-0 font-weight-normal ml-2">Please log in</h1>
                    </div>

                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    <label for="inputEmail" class="sr-only">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email" required autofocus>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-0" placeholder="Password" required>

                    <div class="d-sm-flex align-items-center mt-3">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="_remember_me" checked="checked"> Remember me
                            </label>
                        </div>

                        <button class="btn btn-lg btn-primary ml-auto" type="submit">
                            Log in
                        </button>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <hr>
                    No account yet?
                    <a href="{{ path('app_registration') }}">Create an account &raquo;</a>
                </form>

            </div>
            <div class="text-muted text-center pt-5">
                <small>
                    &copy; {{ 'now'|date('Y') }} The Launch Express
                </small>
            </div>
        </div>
    </div>


{% endblock %}
