{% extends 'base.html.twig' %}

{% block title %}Account registration{% endblock %}

{% block body %}
    <div class="d-flex align-items-md-center justify-content-center vh-100 vw-100 bg-light">
        <div style="width:500px;max-width:500px;">
            <div class="shadow p-3 p-md-5 bg-white">
                <div class="d-flex align-items-center text-primary mb-4">
                    <h1 class="h3 m-0 p-0 font-weight-normal ml-2">Registering new account</h1>
                </div>
                {{ form_start(registrationForm) }}

                    {{ form_widget(registrationForm.email) }}
                    {{ form_errors(registrationForm.email) }}
                    {{ form_widget(registrationForm.plainPassword) }}
                    {{ form_errors(registrationForm.plainPassword) }}

                    <div class="d-sm-flex align-items-center mt-3">
                        <button class="btn btn-lg btn-primary ml-auto" type="submit">
                            Register an account
                        </button>
                    </div>

                    <hr>
                    Already have an account?
                    <a href="{{ path('app_login') }}">Log in &raquo;</a>
                {{ form_end(registrationForm) }}

            </div>
            <div class="text-muted text-center pt-5">
                <small>
                    &copy; {{ 'now'|date('Y') }} The Launch Express
                </small>
            </div>
        </div>
    </div>


{% endblock %}
