{% extends 'online.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Survey page {{ page }} of 2</h1>
        <form id="surveypage">
            {% for question in survey %}
                <div class="shadow mb-5 p-3">
                    <p><strong>{{ question.question }}</strong></p>
                    {% for i in range(0, 5) %}
                        <label class="answer-choice">
                            {{ i }}<br><input type="radio" name="question[{{ question.question_id}}]" value="{{ i }}" autocomplete="off" onchange="upsertAnswer(+this.value, '{{ path('api_update_answer', {question: question.question_id, answer: question.answer_id}) }}')"{{ question.answer is not null and question.answer == i ? ' checked' : '' }}>
                        </label>
                    {% endfor %}
                </div>
            {% endfor %}
            <div class="text-center">
                {% if page == 1 %}
                    <a href="{{ path('homepage', {page:2}) }}" class="btn btn-success float-right">Next &rsaquo;</a>
                {% else %}
                    <a href="{{ path('homepage', {page:1}) }}" class="btn btn-secondary float-left">&lsaquo; Previous</a>
                    <a href="{{ path('summary') }}" class="btn btn-success float-right">Finish &rsaquo;</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
