{% extends 'online.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {% if app.user.surveyComplete %}
        {{ encore_entry_link_tags('chart') }}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if app.user.surveyComplete %}
        {{ encore_entry_script_tags('chart') }}
    {% endif %}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Survey summary</h1>

        {% if app.user.surveyComplete %}
            <div class="row">
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            Top 5 questions
                        </div>
                        <div class="card-body">
                            <canvas id="chart" class="chart" width="400" height="400" data-type="bar" data-source="{{ path('api_summary_popularity', {top: 5}) }}"></canvas>
                        </div>
                    </div>
                </div>
                <div class="col col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            Average rating
                        </div>
                        <div class="card-body">
                            <canvas id="chart" class="chart" width="400" height="400" data-type="radar" data-source="{{ path('api_summary_radar') }}"></canvas>
                        </div>
                    </div>
                </div>
            </div>

        {% else %}
            <p>Survey summary is only available to users who have completed the survey themselves.</p>
            <a href="{{ path('homepage') }}" class="btn btn-primary">Complete the survey</a>
        {% endif %}
    </div>
{% endblock %}
