{% extends 'online.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Users which have not completed the survey</h1>
        <table class="table">
            {% for user in users %}
                <tr>
                    <td>{{ user.email }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}