label.btn {
  cursor:pointer;
}

.answer-choice {
  display:inline-block;
  text-align:center;
  padding:10px 20px;
  cursor:pointer;
  border:1px #dadada solid;
  border-radius:10px;

  &:hover {
    background:#cacaca;
  }

  input {
    cursor:pointer;
  }
}