{% extends 'base.html.twig' %}

{% block header %}

    {% set route = app.request.attributes.get('_route') %}

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/">Survey Tool</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav ml-auto">
                    <a class="nav-item nav-link{% if route == 'homepage' %} active{% endif %}" href="{{ path('homepage') }}">Home</a>
                    <a class="nav-item nav-link{% if route == 'summary' %} active{% endif %}" href="{{ path('summary') }}">Summary</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="nav-item nav-link{% if route == 'users' %} active{% endif %}" href="{{ path('users') }}">Users</a>
                    {% endif %}
                    <a class="nav-item nav-link " href="{{ logout_path() }}">Log out</a>
                </div>
            </div>
        </div>
    </nav>
{% endblock %}